{
    "venvPath": ".",
    "venv": ".venv",
    "pythonVersion": "{{ python_version }}",
    "extraPaths": ["./backend"],
    "reportMissingImports": "warning",
    "reportMissingTypeStubs": "none"
}
